body {
    font-family: "Century Gothic", 'Lato', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

.logo {
    width: 100%;
    height: 500px;
    background-image: url('../images/home_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.black_area {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 260px;
    background-color: black;
}

#study,
#challenge,
#mento-menti {
    margin: auto;
}

.study-content {
    margin: auto;

    .des1,
    .des3 {
        font-size: 15px;
    }

    .des3 {
        margin-bottom: 50px;
    }

    .des1 {
        margin-bottom: 8px;
    }
}


.challenge-content {
    margin: auto;
    height: 50%;

    .challenge-btn {
        margin-top: 50px;
    }
}


.mento-menti-content {
    .mento-container {
        width: 140vh;
        height: 55vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 100px;
        justify-content: center;

        .mento-section,
        .menti-section {
            background-color: aliceblue;
            position: relative;
            text-align: center;
            padding-top: 20px;

            .notice-title {
                padding-top: 20px;
                font-size: 50px;
                color: black;
                font-family: 'Trebuchet MS', Arial, sans-serif;
                font-weight: bold;
            }

            .notice-content {
                padding-top: 40px;
                font-size: 18px;
                font-family: 'Noto Serif KR', serif;
                ;

                .count {
                    margin-bottom: 10px;
                }

            }

        }


        margin-top: 30px;
    }

    .card {
        min-height: 100%;
        box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: #444;
        position: relative;
        top: 0;
        transition: all .1s ease-in;
    }

    .card:hover {
        top: -6px;
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    }
}


#mento-menti {
    padding-top: 60px;

    &>.menuName {
        margin: auto;
    }
}



h1.menuName {
    font-family: 'Courier New', Courier, monospace;
    width: auto;
    height: 90px;
    display: inline-block;
}


.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    position: relative;
    text-align: center;
    padding: 30px 2em 0 2em;

}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 160px;
    width: 100%;
    height: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: black;
    z-index: 10;

    &--top {
        position: fixed;
        top: 0;
    }
}

.small_logo {
    width: 30%;
    height: 100px;
    display: flex;

    .logo_img {
        width: 120px;
        height: 100px;
        margin-left: 80px;
        background-image: url('../images/logo_small.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 0;
    }
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: white;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;

    &:hover {
        color: white;
        background: cadetblue;
        transition: all 0.5s ease;
    }
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: darkcyan;
    transition: left 0.3s ease;
}

@media (min-width: 800px) {

    .et-hero-tabs,
    .et-slide {
        h1 {
            font-size: 4rem;
        }

        h3 {
            font-size: 1rem;
        }
    }

    .et-hero-tab {
        font-size: 25px;
        font-family: 'Trebuchet MS', Arial, sans-serif;
        text-decoration: none;
    }
}

.stripe1 {
    color: #ccc;
    line-height: 1;
    position: relative;
    display: block;
    white-space: nowrap;
    font-family: Arial;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
    cursor: pointer;

    &:after {
        content: '{  Study Group  }';
        position: absolute;
        left: 0;
        top: 0;
        line-height: 1;
        display: block;
        // background-color: black;
        // color: white;
        color: black;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        transition: 1s ease-out width;
    }

    &:hover:after {
        width: 100%;
    }
}

.stripe2 {
    color: #ccc;
    line-height: 1;
    position: relative;
    display: block;
    white-space: nowrap;
    font-family: Arial;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
    cursor: pointer;

    &:after {
        content: '{  Challenge  }';
        position: absolute;
        left: 0;
        top: 0;
        line-height: 1;
        display: block;
        // background-color: black;
        // color: white;
        color: black;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        transition: 1s ease-out width;
    }

    &:hover:after {
        width: 100%;
    }
}

.stripe3 {
    color: #ccc;
    line-height: 1;
    position: relative;
    display: block;
    white-space: nowrap;
    font-family: Arial;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
    cursor: pointer;

    &:after {
        content: '{  Mentor-Mentee  }';
        position: absolute;
        left: 0;
        top: 0;
        line-height: 1;
        display: block;
        // background-color: black;
        // color: white;
        color: black;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        transition: 1s ease-out width;
    }

    &:hover:after {
        width: 100%;
    }
}

.des2 {
    margin-top: 20px;
}

.mento-apply-btn {
    margin-top: 40px;
}