body {
  font-family: "Century Gothic", 'Lato', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.logo {
  width: 100%;
  height: 500px;
  background-image: url("../images/home_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.black_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 260px;
  background-color: black;
}

#study,
#challenge,
#mento-menti {
  margin: auto;
}

.study-content {
  margin: auto;
}

.study-content .des1 {
  margin-bottom: 3px;
}

.challenge-content {
  margin: auto;
}

.mento-menti-content .mento-container {
  width: 140vh;
  height: 55vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.mento-menti-content .mento-container .mento-section,
.mento-menti-content .mento-container .menti-section {
  background-color: darkcyan;
  opacity: 20%;
}

.mento-menti-content .card {
  min-height: 100%;
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.mento-menti-content .card:hover {
  top: -6px;
  -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

#mento-menti {
  padding-top: 60px;
}

h1.menuName {
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  height: 90px;
}

.mento-menti-content .menuName {
  display: inline;
}

.et-hero-tabs,
.et-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  position: relative;
  text-align: center;
  padding: 30px 2em 0 2em;
}

.et-hero-tabs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 160px;
  width: 100%;
  height: 100px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: black;
  z-index: 10;
}

.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.small_logo {
  width: 30%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.small_logo .logo_img {
  width: 120px;
  height: 100px;
  margin-left: 80px;
  background-image: url("../images/logo_small.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0;
}

.et-hero-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}

.et-hero-tab:hover {
  color: white;
  background: cadetblue;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: darkcyan;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 4rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }
  .et-hero-tab {
    font-size: 25px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-decoration: none;
  }
}

.stripe1 {
  color: #ccc;
  line-height: 1;
  position: relative;
  display: block;
  white-space: nowrap;
  font-family: Arial;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  cursor: pointer;
}

.stripe1:after {
  content: '{  Study Group  }';
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1;
  display: block;
  color: black;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: 1s ease-out width;
  transition: 1s ease-out width;
}

.stripe1:hover:after {
  width: 100%;
}

.stripe2 {
  color: #ccc;
  line-height: 1;
  position: relative;
  display: block;
  white-space: nowrap;
  font-family: Arial;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  cursor: pointer;
}

.stripe2:after {
  content: '{  Challenge  }';
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1;
  display: block;
  color: black;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: 1s ease-out width;
  transition: 1s ease-out width;
}

.stripe2:hover:after {
  width: 100%;
}

.stripe3 {
  color: #ccc;
  line-height: 1;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-family: Arial;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  cursor: pointer;
}

.stripe3:after {
  content: '{  Mento-Menti  }';
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1;
  display: inline-block;
  color: black;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: 1s ease-out width;
  transition: 1s ease-out width;
}

.stripe3:hover:after {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */